<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>smaug bot</h1>

    </header>
    <div class="conteudo">
        <aside>
            <div id="qrcode">
                <img src="./img/icon.png" alt="">
            </div>
            <p id="info">escaneie o qrcode no seu celular para iniciar(ao fechar o aplicativo a conexão é encerrada.)</p>
            <div class="buttons">
             
            </div>
        </aside>
        <section>
            <h2>
                &#x1F525;
                mensagens recentes
                &#x1F525;

            </h2>
            <div id="conversas">
               
            </div>
        </section>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./script/script.js">
    
    </script>
</body>

</html>